.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
}

.banner p{
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

div {
  display: block;
  unicode-bidi: isolate;
  padding-left: 15%;
  padding-right: 15%;
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #4352A1;
}

.banner h1 {
    font-size: 38px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h2 {
  color: #A0A0A0;
  font-weight: normal;
}

.link-medium {
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
}

a:hover {
  background-image: linear-gradient(to bottom, #a5ffd6, #a5ffd6);
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
